
body
{
	font-family: trebuchet ms, verdana, arial, tahoma;
	font-size: 80%; 
	color: #999999;
	background-color: #ffffff;
	line-height: 200%;
	margin-top: 0px;
	background: #ffffff url('http://www.agroparistech.fr/ufr-info/iodaa/admin/img/bg.gif') top center repeat-x;
}

#border
{
	border: 0px ;
	width: 1000px;
	background-color: #FFFFFF;
	background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/border_img.png) no-repeat;
	margin: -26px auto;
}

#container 
{
	margin: 0 auto;
	width: 970px;
	background-color: #ffffff;
	border: 0px solid #669900;
}



#header
{
	height: 192px;
	width: 970px;
	border-top: 41px solid #ffffff;
	background-image:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/iodaa_header.png);
}

#content
{
	padding: 0.5em 1em;
	margin-left: 20px;
	max-width: 960px;
	background-color: #FFFFFF;
	min-height: 550px;
}

#content .idea {
	padding:2px 0;
	margin-top: 30px;
	text-align:justify;
	text-indent:0.5cm;
	line-height:1.8em;
	/*background: url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/ideabg.jpg) repeat-x top left;*/
	width: 710px;
	min-height: 100px;
	border-top: #808060 solid 1px;
}

#content .idea h1 {
	display:block;
	margin: 10px 0 0 10px;
	padding:0;
	font-family:"Trebuchet MS",arial,sans-serif;
	font-size:1.8em;
	color:#808060;
	border-color:#808060;
	border-style: dashed;
	border-width:0 0 1px 0;
	letter-spacing:1px;
}

#content .idea h2 {
	display:block;
	margin:20px 0 0 30px;
	padding:0;
	font-family:"Trebuchet MS",arial,sans-serif;
	font-size:1.3em;
	letter-spacing:1px;
	color:#444;
}

#content .idea h3{
	display:block;
	margin:3px 0 10px 30px;
	color:#669900;/*#9aba11;*/
	font-family:geneva,arial,sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	word-spacing:2px;
	letter-spacing:1px;
	font-size:0.8em;
	font-weight:bold;
	padding:0 2px;

}

#content .idea p {
	margin: 5px 15px;
}
#content .idea form{
}
#content .idea form span {
      color:#669900;
}

#content .idea form input[type=submit] {
	cursor:pointer;
	text-decoration:none;
	border:0px;
	background:none;
	color:#669900;
	font-size:105%;
	font-family:"Trebuchet MS",arial,sans-serif;
}
#content .blockquote {
	margin:10px 100px;
	padding:5px 5px 5px 10px;
	font-family:"Trebuchet MS",arial,sans-serif;
	font-size:0.9em;
	color:#444;
	border-left:2px solid #808060;
	background-color: #e0e0c0;
}

.splitright {
	background: #ffffff url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/menu.gif) top center no-repeat;
	width: 180px;
	float: right;
	overflow: hidden;
	text-align: center;
}

.splitleft {
	background: #ffffff;
	margin:auto;
	width: 720px;
	float: left;
	overflow: hidden;
	text-align: justify;
	min-height: 500px;
}

#introduction{
	float:right;
	width:180px;
	padding:0px 0px;
	margin:20px 0 20px 20px;
	background: url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/menu.gif) no-repeat;
	text-align:center;
	line-height:1.5em;
	color:#999999;
	font-size:1.0em;
	font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
	letter-spacing:0px;
}

#introduction ul, #introduction li {
text-align:center;
	list-style: none;
	margin: 0;
	padding: 0;
}

#introduction a {
	border-bottom: none;
	color:#999999;
}

#introduction h3{
	text-align: center;
	position:static;
}

#introduction a:link, a:visited{
	color:#999999;
}

#introduction a:hover, a:active{
	color:#b8ce83;
}



/* ~~~~~~~~~ footer ~~~~~~~~~ */
#footer
{
	text-align: center;
	height: 30px;
	background-color: #F5FAF5;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	margin-top: 50px;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 15px;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	clear: both;
	
}


#footer a:link, a:visited{
	color:#b8ce83;
}

#footer a:hover, a:active{
	color:#cccccc;
}




a:active,
a:visited,
a:link	    			{ color: #FF8000; text-decoration: none; }
a:hover					{ color: #999999; text-decoration: none; }

/* ~~~~~~~~~ PROPS FOR THE MENU GO OUT TO EXPLODING-BOY.COM ~~~~~~~~~ */

#bande_menu {
	position: relative;
	width: 970px;
	font-size:93%;
	margin: 0;
	line-height:normal;
	height: 40px;
	border-bottom: 1px solid #808060; 
}
#topmenu {
	position: relative;
	top: 13px;
	left: 15px;
	width: 970px;
	font-size:120%;
	margin: 0;
	line-height:normal;
	height: 41px;
}
#topmenu ul {
	  margin:0;
	  padding:0px 0px 0 2px;
	  list-style:none;
}
#topmenu li {
      display:inline;

}
	  
#topmenu a {
      float:left;
      background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/menuleft.gif) no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
}

#topmenu a span {
      float:left;
      display:block;
      background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/menu_img.png) no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#669900;
	  margin:0px 5px 0px 0px;
}

#topmenu form{
      float:left;
      background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/menuleft.gif) no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
}
#topmenu form span {
      float:left;
      display:block;
      background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/menu_img.png) no-repeat right top;
      padding:2px 15px 2px 6px;
      color:#669900;
	  margin:0px 5px 0px 0px;
}

#topmenu form input[type=submit] {
	cursor:pointer;
	text-decoration:none;
	border:0px;
	background:none;
	color:#669900;
	font-size:105%;
	font-family:"Trebuchet MS",arial,sans-serif;
}

#topmenu #active form span {
      float:left;
      display:block;
      background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/menu_img.png) no-repeat right top;
      padding:2px 15px 2px 6px;
      color:#FF8000;
	  font-size:105%
}
#topmenu #active form input[type=submit]{
      color:#FF8000;
}
#topmenu #active a span {
      float:left;
      display:block;
      background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/menu_img.png) no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FF8000;
	  font-size:102%
}
	  
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #topmenu a span {float:none;}
    /* End IE5-Mac hack */
    #topmenu a:hover span {
      color:#669900;
      }
    #topmenu a:hover {
      background-position:0% -42px;
      }
    #topmenu a:hover span {
      background-position:100% -42px;
    }
	
#intra_bouton a{
	 background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/bouton_intra.png) no-repeat right top;
	  display:block;
	float:right;
	width:100px;
	vertical-align:middle;
	margin:5px 10px 50px 70px;
	text-align:center;
	line-height:40px;
	color:#669900;
	font-size:100%;
	font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
	letter-spacing:0px;
}

#intra_bouton a:hover{
	background:url(http://www.agroparistech.fr/ufr-info/iodaa/admin/img/bouton_intra_hover.png) no-repeat right top;
	color:#FF8000;

}



/* ~~~~~~~~~ Headings ~~~~~~~~~ */    
h1
{
font-size: 120%;
color: #659500;
}

h3{
	color:#669900;/*#9aba11;*/
	font-family:geneva,arial,sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	word-spacing:2px;
	letter-spacing:1px;
	font-size:0.8em;
	font-weight:bold;
	padding:0 2px;
	margin:0;
}

/*~~~~~~~~~~~styles~~~~~~~~~~~~~~~*/

.style4 {font-size: 16px}
.style5 {
	font-size: 12px;
	color: #CCCCCC;